---
layout: base
scrolly_nav: _sections
---

<main>
  {% assign sorted_sections = site.sections | sort: 'order' %}
  {% for section in sorted_sections %}
    {% if section.title == "Seungho Baek" %}
      <!-- Different layout for 'Seungho Baek' section -->
      <div style="width: 100%; background: linear-gradient(to bottom, #B2D2E9, white);">
        <section id="{{ section.title | downcase | replace: ' ', '-' }}" style="padding: 150px 0;">
          <div class="container-md" style="text-align: left; max-width: 1200px; margin: 0 auto;">
            {{ section.content }}
          </div>
        </section>
      </div>
    {% else %}
      <style>
        .section-title {
          font-size: 2em; /* Default size for larger screens */
          width: 30%;
        }
      
        @media (max-width: 600px) {
          .section-title {
            font-size: 1.5em; /* Adjust this value as needed for smaller screens */
            width: 80%; 
            text-align: center;
            align-items: center;
          }
        }
      </style>
      {% assign mod_order = section.order | modulo: 3 %}
      {% if mod_order == 0 %}
        <div style="width: 100%;">
      {% elsif mod_order == 1 %}
        <div style="width: 100%; background-color: #f9fbfd;">
      {% else %}
        <div style="width: 100%; background-color: #f3f8fb;"> 
          <!-- # e8f1f8; -->
      {% endif %}
      <section id="{{ section.title | downcase | replace: ' ', '-' }}" style="padding: 100px 0;">
        <div class="container-md" style="text-align: left; max-width: 1200px; margin: 0 auto;">
          <div style="text-align: center;">
            <h1 class="section-title" style="background-color: transparent; text-align: center; font-size: 2em; font-weight: normal; margin-bottom: 1em; padding-bottom: 0.25em; color: #262626; display: inline-block; border-bottom: 2.4px solid #d8d8d8; white-space: nowrap;">
              <!-- {{ section.title | upcase }} -->
              {{ section.title }}
            </h1>
          </div>
          <div>
            {{ section.content }}
          </div>
        </div>
      </section>
      </div>
    {% endif %}
  {% endfor %}
</main>
